@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.userlists {
  margin: 0 auto;
  padding: 40px;
}

a.link, button.link {
  background: #6f6ff7;
  padding: 8px 15px;
  color: #fff;
  border-radius: 3px;
}
.userlists.align-center {
  text-align: center;
  margin: 0 auto;
  width: 400px;
}
.userlists input {
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
  width: 100%;
}